@import "@conversionxl/cxl-ui/scss/utils/mq";
@import "@conversionxl/cxl-ui/scss/cxl-theme";

body,
html {
  overflow: hidden;
}

body {
  background: var(--lumo-base-color);

  @include mq($from: tablet) {
    background: var(--lumo-shade-5pct);
  }
}

// Video styles

.embed-container {
  background-color: var(--lumo-shade);
  position: relative;

  iframe,
  object,
  embed {
    display: flex;
    height: 250px;
    margin: 0 auto;
    width: 100%;

    @media only screen and (max-width: 320px) {
      height: 175px;
    }

    @media only screen and (max-width: 320px) {
      height: 175px;
    }

    @media only screen and (max-width: 375px) {
      height: 210px;
    }

    @media only screen and (max-width: 414px) {
      height: 230px;
    }

    @include mq($from: tablet, $until: desktop) {
      height: 300px;
    }

    @include mq($from: desktop, $until: wide) {
      height: 400px;
    }

    @include mq($from: wide) {
      height: 500px;
    }
  }
}
