@import "@conversionxl/cxl-ui/scss/utils/mixins";
@import "@conversionxl/cxl-ui/scss/cxl-theme";

body,
html {
  overflow: hidden;
}

body {
  background: var(--lumo-tint-20pct);

  @include respond-below(small) {
    background: var(--lumo-base-color);
  }
}

.menu {
  &--institute-icon-nav {
    background: #ebebeb;
    border-right: 3px solid var(--lumo-primary-color);
    display: flex;
    flex-direction: column;
    height: 100%;
    width: 64px;
  }

  &__items {
    list-style: none;
    margin: 0;
    padding: 0;
  }

  &__item {
    align-items: center;
    display: flex;
    height: 64px;
    position: relative;
    width: 100%;

    a {
      align-items: center;
      display: flex;
      height: 100%;
      width: 100%;

      &:hover {
        background: var(--lumo-primary-color);
      }
    }

    &.has-children:first-child {
      height: 100%;
    }
    &.has-children:last-child {
      height: 64px;
    }
  }

  &__link {
    display: none;
  }

  &__sub-menu {
    list-style: none;
    margin: 0;
    padding: 0;
  }

  @include respond-below(small) {
    // TODO: add responsive styles after final WP markup
  }
}

// TODO: Any better solution?
.sidebar-content {
  height: 100%;
  width: 100%;
  .extra-heading {
    color: var(--lumo-shade);
    display: block;
    font-size: var(--lumo-font-size-m);
    font-weight: 900;
    line-height: var(--lumo-line-height-s);
    padding: var(--lumo-space-m);
    padding-right: var(--lumo-space-m);
  }
}

// Video styles

.embed-container {
  background-color: var(--lumo-shade);
  position: relative;

  iframe,
  object,
  embed {
    display: flex;
    height: 500px;
    margin: 0 auto;
    width: 100%;

    @include respond-below(largehd) {
      height: 400px;
    }

    @include respond-below(medium) {
      height: 300px;
    }

    @include respond-below(small) {
      height: 250px;
    }
  }
}
