@import "@conversionxl/cxl-ui/scss/utils/mq";

:host([theme~="cxl-icon-nav"]) {
  display: flex;

  ::slotted(vaadin-tab) {
    padding: 0;
  }

  ::slotted(vaadin-tab[theme="cxl-icon-nav-item-button"]) {
    margin-left: auto;
    padding-left: var(--lumo-space-m);
    padding-right: var(--lumo-space-m);
    width: auto;

    @include mq($from: tablet) {
      display: none;
    }
  }

  ::slotted(vaadin-tab[selected])::before {
    display: none;
  }

  ::slotted(vaadin-tab:not([theme="cxl-icon-nav-item-button"])[selected]) {
    background: var(--lumo-shade-5pct);
  }

  @include mq($until: tablet) {
    ::slotted(vaadin-tab:first-child) {
      display: none;
    }
  }
}

:host([theme~="cxl-icon-nav"][orientation="vertical"]) {
  height: 100%;
}
