:host([theme="cxl-course-links"]) {
  padding-bottom: var(--lumo-space-s);

  ::slotted(a) {
    // padding: var(--lumo-space-xs) var(--lumo-space-m);
    font-size: var(--lumo-font-size-s);
    font-weight: 500;
    line-height: var(--lumo-line-height-s);
    padding-bottom: var(--lumo-space-xs);
    padding-left: var(--lumo-space-l);
    padding-right: var(--lumo-space-m);
    padding-top: var(--lumo-space-s);
    text-decoration: none;
  }
}
