:host([theme~="cxl-track"]) {
  ::slotted(label) {
    color: var(--lumo-shade-50pct);
    display: block;
    font-size: var(--lumo-font-size-xxs);
    font-weight: 600;
    text-transform: uppercase;
  }
}
