@import "@conversionxl/cxl-ui/scss/utils/mq";
@import "@conversionxl/cxl-ui/scss/cxl-theme";
@import "ladda/css/ladda";

section {
  &.padding {
    padding: var(--lumo-space-xl) 0;
  }

  &.padding-top {
    padding-top: var(--lumo-space-xl);
  }

  &.padding-bottom {
    padding-bottom: var(--lumo-space-xl);
  }

  p {
    margin-bottom: 30px;
  }

  ul {
    list-style: none;
    margin: 0;
    padding: 0;
    text-align: left;
    li {
      margin-bottom: var(--lumo-space-xl);
      padding-left: var(--lumo-space-l);
      position: relative;
      &::before {
        color: var(--lumo-primary-color);
        content: var(--lumo-icons-angle-right);
        font-family: var(--lumo-icons);
        font-weight: 900;
        left: 0;
        position: absolute;
      }
    }

    @include mq($from: tablet) {
      margin: 0 var(--lumo-space-xl);
      padding-left: 40px;
    }
  }

  .column {
    br {
      display: none;
    }
    h2 {
      font-size: calc(var(--lumo-font-size-xl) * 1.3);
      line-height: calc(var(--lumo-font-size-xl) * 1.3);
      margin-top: var(--lumo-space-m);

      img {
        border-radius: 0;
        box-shadow: none;
        display: block;
        float: none !important; // stylelint-disable-line declaration-no-important
        height: 30px;
        width: auto;
      }
    }
    img {
      border-radius: var(--lumo-border-radius-s);
      box-shadow: var(--lumo-space-s) var(--lumo-space-s) var(--lumo-contrast-30pct);
      margin: var(--lumo-space-m) 0;
      width: 100%;
    }
  }

  @include mq($from: tablet) {
    &.padding {
      padding: calc(var(--lumo-space-xl) * 1.5) 0;
    }

    &.padding-top {
      padding-top: calc(var(--lumo-space-xl) * 1.5);
    }

    &.padding-bottom {
      padding-bottom: calc(var(--lumo-space-xl) * 1.5);
    }

    .column {
      &.push-right {
        order: 1;
      }

      br {
        display: block;
      }

      h2 {
        font-size: calc(var(--lumo-font-size-xl) * 2);
        line-height: calc(var(--lumo-font-size-xl) * 2);
      }

      img {
        width: 90%;
      }
    }
  }
}

footer {
  background-color: var(--lumo-shade);
  color: var(--lumo-base-color);
  padding: var(--lumo-space-m) 0;

  a {
    color: var(--lumo-base-color);
    font-size: calc(var(--lumo-font-size-s));

    &:hover {
      color: var(--lumo-base-color);
    }
  }

  .menu {
    &__items {
      list-style: none;
      margin: 0;
      padding: 0;
    }

    &__item {
      display: inline-flex;
      padding-left: var(--lumo-space-s);
      padding-right: var(--lumo-space-s);
      position: relative;

      &::after {
        border-right: 1px solid #fff;
        content: "";
        height: 13px;
        position: absolute;
        right: 0;
        top: 7px;
        width: 1px;
      }

      &:first-of-type,
      &:last-child {
        &::after {
          display: none;
        }
      }

      &:first-of-type {
        padding-left: 0;
      }

      &:last-child {
        padding-right: 0;
      }
    }
  }
}

vaadin-tab {
  a {
    &:hover {
      text-decoration: none;
    }
  }
}

cxl-marketing-nav[fixed] {
  vaadin-button[theme~="cxl-transparent"] {
    background-color: transparent; // stylelint-disable-line sh-waqar/declaration-use-variable
    border: 1px solid var(--lumo-primary-color);

    a {
      color: var(--lumo-primary-color);
    }
  }
}
