@import "./utils/mq";

html,
body {
  height: 100%;
  min-height: 100%;
}

a {
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

.sub-title {
  margin-top: var(--lumo-space-tall-l);
  text-align: center;
}

.flex {
  display: flex;
}

strong {
  color: var(--lumo-primary-text-color);
}

.align {
  &-left {
    text-align: left;
  }
  &-center {
    text-align: center;
  }
  &-right {
    text-align: right;
  }
}

.screen-reader-text {
  display: none;
}

.wrap {
  margin-left: auto;
  margin-right: auto;
  padding-left: calc(var(--lumo-space-m) / 2);
  padding-right: calc(var(--lumo-space-m) / 2);

  @include mq($from: desktop) {
    max-width: $wrap_desktop;
    width: $wrap_desktop;
  }

  @include mq($from: wide) {
    max-width: $wrap_wide;
    width: $wrap_wide;
  }
}
