@import "./utils/mixins";

:host {
  position: absolute;
  top: 0;
  bottom: 0;
  right: 64px; // TODO: hack.
  left: 0;
  background: #fff;

  border-top-left-radius: var(--lumo-border-radius-l);
  border-bottom-left-radius: var(--lumo-border-radius-l);
  box-shadow: -4px 1px 15px -8px #777;

  transition: all 0.3s cubic-bezier(0.165, 0.84, 0.44, 1);
}

:host([hidesidebar="true"]) {
  left: -315px;
  border-top-left-radius: 0;
  border-bottom-left-radius: 0;
}

:host([hidesidebar="true"][sidebarsize="small"]) {
  left: -250px;
  border-top-left-radius: 0;
  border-bottom-left-radius: 0;
}

[part="content"] {
  padding: var(--lumo-space-xl) var(--lumo-space-m);
  flex: 1 1 auto;
  display: flex;
  flex-direction: column;
  overflow: auto;

  &[media-size="large"] {
    max-width: 1024px;
    margin: 0 auto;
  }
}

@include respond-below(medium) {
  :host {
    border-radius: 0;
  }

  [part="content"] {
    padding: var(--lumo-space-m) var(--lumo-space-m);
  }
}
