a {
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

.sub-title {
  text-align: center;
  margin-top: 20px;
}

.flex {
  display: flex;
}

strong {
  color: var(--lumo-primary-text-color);
}

.align {
  &-left {
    text-align: left;
  }
  &-center {
    text-align: center;
  }
  &-right {
    text-align: right;
  }
}

.vertical-line {
  height: 1px;
  background: #eee;
}

.screen-reader-text {
  display: none;
}

.wrap {
  padding-right: 15px;
  padding-left: 15px;
  margin-right: auto;
  margin-left: auto;
}

.wrap {
  margin: 0 auto;
  position: relative;
}

@media screen and (min-width: 1088px) {
  .wrap {
    max-width: 960px;
    width: 960px;
  }
  .wrap.is-fluid {
    margin-left: 64px;
    margin-right: 64px;
    max-width: none;
    width: auto;
  }
}

@media screen and (max-width: 1279px) {
  .wrap.is-widescreen {
    max-width: 1152px;
    width: auto;
  }
}

@media screen and (max-width: 1471px) {
  .wrap.is-fullhd {
    max-width: 1344px;
    width: auto;
  }
}

@media screen and (min-width: 1280px) {
  .wrap {
    max-width: 1152px;
    width: 1152px;
  }
}

@media screen and (min-width: 1472px) {
  .wrap {
    max-width: 1344px;
    width: 1344px;
  }
}
