$star-active-color: #fdd835;
$star-inactive-color: #eee;

a {
  display: flex;
  vertical-align: middle;

  &:hover {
    color: var(--lumo-contrast-80pct);
    cursor: pointer;
  }

  &:hover iron-icon {
    color: $star-active-color;
  }
}
iron-icon {
  margin-right: var(--lumo-space-xs);
  color: $star-inactive-color;

  &:hover {
    color: $star-active-color;
  }
}

.selected {
  color: $star-active-color;
}
