:host {
  width: 250px;

  .entry__header {
    ::slotted(.entry__header-course-thumbnail) {
      align-self: center;
      border-radius: var(--lumo-border-radius-round);
      height: var(--lumo-card-thumbnail-size);
      margin: 0;
      width: var(--lumo-card-thumbnail-size);
      -webkit-background-size: cover;
      background-size: cover;
      background-position: center;
    }

    ::slotted(.entry__header-course-instructor) {
      margin: 0;
    }

    ::slotted(.entry__header-course-title) {
      font-weight: bold;
      margin: var(--lumo-margin) 0 0;
    }

    ::slotted(h2) {
      font-size: var(--lumo-font-size-m);
    }
  }

  .entry__content {
    margin: calc( 1.5 * var(--lumo-margin) ) 0;

    ::slotted(.entry__content-course-content) {}
  }

  .entry__footer {
    ::slotted(.entry__footer-course-specs) {}
  }
}