:host {
  color: var(--lumo-white);
  background-color: var(--lumo-black);
  width: 250px;

  .entry__header {
    ::slotted(.entry__header-banner-thumbnail) {
      height: calc( 1.5 * var(--lumo-card-thumbnail-size) );
      margin: 0;
      background-size: cover;
      background-position: center;
    }

    ::slotted(.entry__header-banner-title) {
      font-weight: bold;
      margin: var(--lumo-margin) 0 0;
    }

    ::slotted(h2) {
      font-size: var(--lumo-font-size-m);
    }
  }

  .entry__content {
    margin: var(--lumo-margin) 0;
  }

  .entry__footer {
    align-self: end;

    ::slotted(.entry__footer-banner-more-link) {
      color: var(--lumo-white);
      font-size: smaller;
    }
  }
}