@import 'sass-mq';

:host {
  .entry__content {
    border: calc( 0.5 * var(--lumo-margin) ) solid var(--lumo-contrast-30pct);
    border-radius: var(--lumo-border-radius-s);
    display: grid;
    grid-gap: calc( 2 * var(--lumo-margin) );
    grid-template-columns: repeat( auto-fit, minmax( var(--lumo-data-grid-column-size), 1fr ) );
    padding: var(--lumo-padding);

    @include mq($from: wide) {
      grid-template-columns: repeat( var(--lumo-data-grid-items), auto );
    }

    ::slotted(*) {
      margin: auto ;
    }
  }
}