@import 'sass-mq';

:host {
  padding: calc( 2 * var(--lumo-padding) );
  width: 750px;

  .entry__header {
    display: grid;
    grid-auto-columns: max-content;
    grid-template-areas:
      "entry__header-lesson-thumbnail entry__header-lesson-title-highlighted entry__header-lesson-title entry__header-lesson-title"
      "entry__header-lesson-thumbnail entry__header-lesson-specs entry__header-lesson-specs entry__header-lesson-specs";

    ::slotted(.entry__header-lesson-thumbnail) {
      align-self: center;
      border-radius: var(--lumo-border-radius-round);
      grid-area: entry__header-lesson-thumbnail;
      height: var(--lumo-card-thumbnail-size);
      width: var(--lumo-card-thumbnail-size);
      margin: 0 calc( 2 * var(--lumo-margin) ) 0 0;
      -webkit-background-size: cover;
      background-size: cover;
      background-position: center;
      vertical-align: middle;
    }

    ::slotted(.entry__header-lesson-title-highlighted) {
      align-self: end;
      color: var(--lumo-primary-color);
      font-weight: bold;
      grid-area: entry__header-lesson-title-highlighted;

      &:after {
        content: ': ';
        white-space: pre;
      }
    }

    ::slotted(.entry__header-lesson-title) {
      align-self: end;
      font-weight: bold;
      grid-area: entry__header-lesson-title;
      margin: 0;
    }

    ::slotted(.entry__header-lesson-specs) {
      grid-area: entry__header-lesson-specs;
    }

    ::slotted(h2) {
      font-size: var(--lumo-font-size-m);
    }
  }

  .entry__content {
    ::slotted(.entry__content-lesson-content) {
      border-top: 1px solid var(--lumo-contrast-30pct);
      margin: calc( 1.5 * var(--lumo-margin) ) 0 0;
      padding: calc( 1.5 * var(--lumo-padding) ) 0 0;
    }
  }

  @include mq($until: tablet) {
    height: auto;
    width: auto;

    @at-root #{&}([in-container]) {
      height: auto;
      width: 250px;
    }

    .entry__header {
      display: block;

      ::slotted(.entry__header-lesson-title-highlighted) {
        display: inline-block;
        margin: var(--lumo-margin) 0 0;
      }

      ::slotted(.entry__header-lesson-title) {
        display: inline-block;
      }
    }
  }

  @at-root #{&}([in-container]) {
    height: 300px;
  }
}