@import "./utils/mq";

:host {
  background: var(--lumo-tint-20pct);
  display: grid;
  grid-template-areas: "header" "tabs" "sidebar" "content" "nav";
  grid-template-columns: 100%;
  grid-template-rows: auto auto auto 1fr auto;
  height: 100%;
  margin-left: 0;
  min-height: 100vh;
  position: relative;

  @include mq($from: tablet) {
    grid-template-areas: "nav sidebar content";
    grid-template-columns: 67px 315px auto;
  }
}

:host([sidebarsize="small"]) {
  grid-template-columns: 250px auto;
}

[part="icon-nav"] {
  background: var(--lumo-shade-10pct);
  border-top: 1px solid var(--lumo-contrast-20pct);
  grid-area: nav;
  height: 64px;
  position: relative;
  width: 100%;

  @include mq($from: tablet) {
    border-right: 3px solid var(--lumo-primary-color);
    border-top: none;
    height: 100%;
    min-height: 100vh;
    width: 64px;
  }
}

[part="sidebar"] {
  display: none;
  flex-direction: column;
  grid-area: sidebar;
  overflow: auto;

  @include mq($from: tablet) {
    display: flex;
  }
}

[part="content"] {
  display: none;
  grid-area: content;
  position: relative;

  @include mq($from: tablet) {
    display: flex;
  }
}

[part="content"][page-visible] {
  display: block;
}

[part="sidebar"][page-visible] {
  display: flex;
}

[part="tabs"] {
  display: flex;
  grid-area: tabs;

  @include mq($from: tablet) {
    display: none;
  }
}

[part="mobile-header"] {
  border-bottom: 1px solid var(--lumo-contrast-10pct);
  display: flex;
  flex-direction: row;
  grid-area: header;
  padding: var(--lumo-space-s) var(--lumo-space-m);

  h2 {
    font-size: calc(var(--lumo-font-size-s) * 1.4);
    font-weight: 500;
    line-height: calc(var(--lumo-line-height-m) * 1.175);
    margin: 0;
    padding-left: var(--lumo-space-m);
  }

  @include mq($from: tablet) {
    display: none;
  }
}

#sidebar {
  .sidebar-header {
    display: none;
    padding: var(--lumo-space-m);
  }

  @include mq($from: desktop) {
    .sidebar-header {
      display: block;
    }
  }
}

// TODO: These get overwritten by lumo styles
::slotted([part="sidebar-header"]) {
  margin-bottom: 0;
  margin-top: 0.25em;
}
