@import "./utils/mq";

html,
body {
  height: 100%;
  margin: 0;
  min-height: 100%;
}

a {
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

iframe {
  max-width: 100%;
}

img {
  height: auto;
  max-width: 100%;
}

.align {
  &-left {
    text-align: left;
  }
  &-center {
    text-align: center;
  }
  &-right {
    text-align: right;
  }
}

h1,
h2,
h3,
h4,
h5 {
  strong {
    color: var(--lumo-primary-color);
  }
}

.screen-reader-text {
  display: none;
}

.wrap {
  margin-left: auto;
  margin-right: auto;
  max-width: 720px;
  padding-left: calc(var(--lumo-space-m));
  padding-right: calc(var(--lumo-space-m));
  width: 100%;

  &.no-padding {
    padding: 0;
  }

  @include mq($from: tablet) {
    max-width: 960px;
  }

  @include mq($from: desktop) {
    max-width: 1280px;

    &.shrunk {
      max-width: 720px;
    }
  }
}
