@import "./utils/mq";

:host {
  background-repeat: no-repeat;
  display: flex;
  height: auto;
  min-height: 575px;
  position: relative;

  ::slotted(cxl-marketing-nav) {
    margin-left: calc(var(--lumo-space-m) / -1);
    margin-right: calc(var(--lumo-space-m) / -1);
  }

  .bgimage {
    background-position: right -260px top 100px;
    background-repeat: no-repeat;
    background-size: 550px;
    bottom: 0;
    height: 100%;
    left: 0;
    min-height: 575px;
    position: absolute;
    right: 0;
    top: 0;
    width: 100%;
    z-index: 0;
  }

  [part="hero-content"] {
    padding-bottom: calc(var(--lumo-space-xl) * 3);
    padding-right: 35%;
    position: relative;
  }

  ::slotted(h1) {
    margin: 0;
  }

  .waves {
    display: none;
  }

  @include mq($from: tablet) {
    .bgimage {
      background-position: right -425px top 10px;
      background-size: 1000px;
    }

    [part="hero-content"] {
      padding-bottom: calc(var(--lumo-space-xl) * 3);
      padding-right: 40%;
      padding-top: calc(var(--lumo-space-l));
    }
  }

  @include mq($from: tablet, $until: desktop) {
    [part="hero-content"] {
      padding-right: 35%;
      padding-top: calc(var(--lumo-space-xl) * 1.4);
    }
  }

  @include mq($from: desktop) {
    padding-top: var(--lumo-space-m);

    .bgimage {
      background-position: right -300px top 30%;
      background-size: 100%;
      padding-right: 200px;
    }

    [part="hero-content"] {
      padding-bottom: calc(var(--lumo-space-xl) * 3);
      padding-right: 40%;
    }
  }

  @include mq($from: wide) {
    .bgimage {
      background-position: center top 10%;
      background-repeat: no-repeat;
      background-size: 1000px;
      padding-right: 600px;
    }
  }
}

:host([hero-style="video"]) {
  min-height: 485px;

  .bgimage {
    display: none;
  }

  [part="hero-content"] {
    padding: 0;
  }

  .flex {
    height: 75%;
  }

  .video {
    align-items: center;
    display: flex;
    height: 100%;
    justify-content: center;
    margin: var(--lumo-space-l) 0;
    width: 100%;

    .video-image {
      cursor: pointer;
      position: relative;

      ::slotted(img) {
        border-radius: var(--lumo-border-radius-s);
        box-shadow: var(--lumo-space-s) var(--lumo-space-s) var(--lumo-contrast-30pct);
      }

      &::before {
        background-color: var(--lumo-shade-80pct);
        border-radius: 50%;
        color: var(--lumo-base-color);
        content: var(--lumo-icons-play);
        font-family: var(--lumo-icons);
        font-size: calc(var(--lumo-font-size-xxl) * 1.3);
        height: calc(var(--lumo-space-xl) * 1.5);
        left: calc(50% - 32px);
        padding-left: 4px;
        padding-top: 4px;
        position: absolute;
        text-align: center;
        top: calc(50% - 32px);
        transition: padding 0.1s ease, background 0.2s ease;
        width: calc(var(--lumo-space-xl) * 1.5);
      }

      &:hover {
        &::before {
          background-color: var(--lumo-shade-20pct);
        }
      }
    }
  }

  @include mq($from: tablet) {
    .video {
      margin: 0;
    }
  }

  @include mq($from: tablet, $until: desktop) {
    min-height: 485px;
  }

  @include mq($from: desktop) {
    min-height: 500px;

    .video {
      .video-image {
        &::before {
          font-size: calc(var(--lumo-font-size-xxl) * 2.15);
          height: calc(var(--lumo-space-xl) * 2.5);
          left: calc(50% - 50px);
          top: calc(50% - 50px);
          width: calc(var(--lumo-space-xl) * 2.5);
        }
      }
    }
  }
}

:host([hero-style="waves"]) {
  @include mq($from: tablet) {
    [part="hero-content"] {
      padding-bottom: calc(var(--lumo-space-xs));
    }

    .waves {
      bottom: 0;
      display: block;
      position: absolute;
      width: 100%;
    }
  }

  @include mq($from: tablet, $until: desktop) {
    min-height: 850px;
  }

  @include mq($from: desktop) {
    min-height: 700px;
  }
}

:host([hero-style="catalog"]) {
  min-height: 475px;

  [part="hero-content"] {
    padding-bottom: var(--lumo-space-xl);
    padding-top: var(--lumo-space-l);
  }

  .bgimage {
    min-height: 475px;
  }

  @include mq($from: tablet, $until: desktop) {
    min-height: 450px;

    [part="hero-content"] {
      padding-bottom: var(--lumo-space-xl);
      padding-top: calc(var(--lumo-space-l) * 3);
    }

    .bgimage {
      background-position: right -225px top 10px;
      background-size: 700px;
      min-height: 450px;
    }
  }

  @include mq($from: desktop) {
    min-height: 450px;

    [part="hero-content"] {
      padding-bottom: var(--lumo-space-xl);
      padding-top: calc(var(--lumo-space-l) * 3);
    }

    .bgimage {
      background-size: 800px;
      min-height: 450px;
    }
  }
}
