@import "./utils/mixins";

:host {
  background: var(--lumo-tint-20pct);
  display: grid;
  grid-template-areas: "nav sidebar content";
  grid-template-columns: 67px 315px auto;
  height: 100%;
  min-height: 100%;
  position: relative;

  @include respond-below(small) {
    grid-template-areas: "header" "tabs" "sidebar" "content" "nav";
    grid-template-columns: 100%;
    grid-template-rows: auto auto auto 1fr auto;
    margin-left: 0;
    min-height: 100vh;
  }

  @include respond-between(small, medium) {
    margin-left: 0;
  }
}

:host([sidebarsize="small"]) {
  grid-template-columns: 250px auto;
}

[part="icon-nav"] {
  grid-area: nav;
  height: 100%;
}

[part="sidebar"] {
  grid-area: sidebar;
  overflow: auto;

  @include respond-below(small) {
    display: none;
  }
}

[part="content"] {
  grid-area: content;
  position: relative;

  @include respond-below(small) {
    display: none;
  }
}

[part="content"][page-visible] {
  display: block;
}

[part="sidebar"][page-visible] {
  display: flex;
}

[part="tabs"] {
  display: none;
  grid-area: tabs;

  @include respond-below(small) {
    display: flex;
  }
}

[part="header"] {
  border-bottom: 1px solid var(--lumo-contrast-10pct);
  display: none;
  grid-area: header;
  padding: var(--lumo-space-m);

  h3 {
    font-weight: 500;
    margin: 0;
    padding-left: var(--lumo-space-m);
  }

  @include respond-below(small) {
    display: flex;
  }
}

// TODO: replace with cxl-logo
[part="header"] .logo {
  color: var(--lumo-shade);
  flex: 0 auto;
  margin-right: var(--lumo-space-m);
  text-decoration: none;
}
[part="header"] .logo .cxl {
  font: italic 900 1.6rem Roboto, sans-serif;
  text-transform: none;
}
[part="header"] .logo .cxl span {
  color: var(--lumo-primary-text-color);
  font-style: normal;
}

#sidebar {
  .sidebar-header {
    padding: var(--lumo-space-m);
  }

  @include respond-below(medium) {
    .sidebar-header {
      display: none;
    }
  }
}
