@import "./utils/mq";

:host {
  [part="logos"] {
    padding: var(--lumo-space-m) 0;

    ::slotted(*) {
      padding: 0;
    }

    @include mq($until: tablet) {
      text-align: center;

      ::slotted(.logo) {
        height: 30px;
        padding: 10px;
      }
    }

    @include mq($from: desktop) {
      display: flex;
      flex-direction: row;
      justify-content: center;

      ::slotted(*) {
        padding: 0 var(--lumo-space-l);
      }
    }
  }
}
