[part="item"] {
  display: flex;
}

:host([item-type="track"]) [part="item"] {
  font-size: var(--lumo-font-size-xs);
}

::slotted(a) {
  color: var(--lumo-contrast-90pct);

  flex: 1;
  font-size: var(--lumo-font-size-s);
  font-weight: 500;
  line-height: var(--lumo-line-height-s);
  padding: var(--lumo-space-s);
  padding-bottom: var(--lumo-space-s);
  padding-left: var(--lumo-space-m);
  padding-right: var(--lumo-space-m);
  text-decoration: none;
}

::slotted(.active) {
  color: var(--lumo-primary-text-color);
}

::slotted(a:hover) {
  color: var(--lumo-primary-text-color);
  text-decoration: none;
}

[part="track-time"] {
  color: var(--lumo-contrast-40pct);
  display: none;
  padding-bottom: var(--lumo-space-s);
  padding-right: var(--lumo-space-m);
  padding-top: var(--lumo-space-s);
}

:host([item-type="track"]) [part="track-time"] {
  display: block;
}
