@import "./utils/mq";

:host {
  header {
    ::slotted([part="thumbnail"]) {
      height: calc(var(--lumo-space-xl) * 3);
      line-height: calc(var(--lumo-space-xl) * 3);
      width: calc(var(--lumo-space-xl) * 3);
    }

    ::slotted([part="thumbnail"])::before {
      background-color: var(--lumo-shade-60pct);
      border-radius: 50%;
      color: var(--lumo-base-color);
      content: var(--lumo-icons-play);
      font-family: var(--lumo-icons);
      font-size: calc(var(--lumo-font-size-xxl) * 2);
      transition: padding 0.1s ease, background 0.2s ease;
    }

    ::slotted([part="thumbnail"]:hover)::before {
      background-color: var(--lumo-shade-20pct);
      padding: calc(var(--lumo-space-l) * 1.35);
    }
  }
}
