@import "./utils/mq";

:host {
  min-width: 290px;
  width: 100%;

  header {
    border-bottom: 1px solid var(--lumo-shade-10pct);
    margin-bottom: 0;
    padding-bottom: var(--lumo-space-m);
  }

  footer {
    display: contents;
  }
}
