@import "./utils/mixins";

:host {
  background: #fff;
  border-bottom-left-radius: var(--lumo-border-radius-l);

  border-top-left-radius: var(--lumo-border-radius-l);
  bottom: 0;
  box-shadow: -4px 1px 15px -8px var(--lumo-shade-50pct);

  display: flex;
  flex-direction: column;

  height: 100vh;
  left: 0;
  overflow: hidden;
  position: absolute;
  right: 0;
  top: 0;

  transition: all 0.3s cubic-bezier(0.165, 0.84, 0.44, 1);

  @include respond-below(small) {
    height: auto;
  }

  @include respond-below(medium) {
    border-radius: 0;
  }
}

:host([hidesidebar="true"]) {
  border-bottom-left-radius: 0;
  border-top-left-radius: 0;
  left: -315px;
}

:host([hidesidebar="true"][sidebarsize="small"]) {
  border-bottom-left-radius: 0;
  border-top-left-radius: 0;
  left: -250px;
}

.wrapper {
  height: auto;
  overflow: auto;
}

[part="content"] {
  display: flex;
  flex: 1 1 auto;
  flex-direction: column;
  overflow: auto;
  padding: var(--lumo-space-xl) var(--lumo-space-m);

  &[media-size="large"] {
    margin: 0 auto;
    max-width: 35em;
  }

  @include respond-below(medium) {
    padding: var(--lumo-space-m) var(--lumo-space-m);
  }
}
