@import "./utils/mq";

:host {
  width: 100%;
  li {
    align-items: center;
    display: flex;
    height: 64px;
    position: relative;

    a {
      align-items: center;
      display: flex;
      height: 100%;
      justify-content: center;
      width: 100%;

      &:hover {
        background: var(--lumo-primary-color);
      }
    }
  }

  @include mq($from: tablet) {
    li {
      width: 64px;
    }
  }
}

:host([position="bottom"]) {
  margin-top: auto;
}
