@import "./utils/mq";

/* stylelint-disable declaration-no-important */

:host {
  background-color: var(--lumo-black);
  color: var(--lumo-white);

  header {
    ::slotted([part="thumbnail"]) {
      border-radius: 0;
      height: calc(var(--lumo-space-xl) * 2.5);
      margin-right: 0;
      width: 100%;
    }
  }

  ::slotted([slot="title"]) {
    color: var(--lumo-white) !important;
  }

  footer {
    ::slotted([slot="footer"]) {
      color: var(--lumo-primary-color) !important;
    }
  }
}
