@import "./utils/mq";

:host {
  height: 64px;
  width: 33.33%;

  a {
    align-items: center;
    display: flex;
    height: 100%;
    justify-content: center;

    &:hover {
      background: var(--lumo-primary-color);
    }
  }

  @include mq($from: tablet) {
    width: 100%;
    a {
      width: 64px;
    }
  }
}
