@import "./utils/mq";

:host {
  display: none;

  @include mq($from: tablet) {
    border-bottom: 1px solid var(--lumo-shade-20pct);
    display: flex;
    flex-direction: row;
    padding: var(--lumo-space-m);
  }
}

.content-toggle {
  cursor: pointer;
  margin-right: var(--lumo-space-xs);

  a {
    align-items: center;
    display: flex;
    height: 100%;
    width: 100%;
    &:hover {
      fill: var(--lumo-primary-text-color);
    }
  }
}

.header-title {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-left: var(--lumo-space-m);

  h3 {
    font-weight: 500;
    margin: 0;
  }
}

.header-button {
  display: none;
  margin-left: auto;
  text-align: right;

  ::slotted([slot="header-button"]) {
    margin: 0;
  }
}

:host([with-button]) {
  .header-button {
    display: flex;
  }
}
