@import "./utils/mq";

$max-width-content-width: 35em;

:host {
  background: #fff;
  border-radius: 0;
  bottom: 0;
  box-shadow: -4px 1px 15px -8px var(--lumo-shade-50pct);
  display: flex;
  flex-direction: column;
  height: auto;
  left: 0;
  overflow: hidden;
  position: absolute;
  right: 0;
  top: 0;

  // For sidebar toggle
  transition: all 0.3s cubic-bezier(0.165, 0.84, 0.44, 1);

  @include mq($from: tablet) {
    height: 100vh;
  }

  @include mq($from: tablet) {
    border-bottom-left-radius: var(--lumo-border-radius-l);
    border-top-left-radius: var(--lumo-border-radius-l);
  }
}

:host([hidesidebar="true"]) {
  border-bottom-left-radius: 0;
  border-top-left-radius: 0;
  left: -315px;
}

:host([hidesidebar="true"][sidebarsize="small"]) {
  border-bottom-left-radius: 0;
  border-top-left-radius: 0;
  left: -250px;
}

[part="content"] {
  display: flex;
  flex: 1 1 auto;
  flex-direction: column;
  overflow: auto;
  padding: var(--lumo-space-m) 0;

  &[media-size="wide"] {
    > .wrap  {
      max-width: $max-width-content-width;
    }
  }

  @include mq($from: tablet) {
    padding: var(--lumo-space-xl) 0;
  }
}
