@import "./utils/mq";

html,
body {
  height: 100%;
  margin: 0;
  min-height: 100%;
}

a {
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

iframe {
  max-width: 100%;
}

img {
  max-width: 100%;
}

.align {
  &-left {
    text-align: left;
  }
  &-center {
    text-align: center;
  }
  &-right {
    text-align: right;
  }
}

h1,
h2,
h3,
h4,
h5 {
  font-weight: 900;
  strong {
    color: var(--lumo-primary-color);
    font-weight: 900;
  }
}

.screen-reader-text {
  display: none;
}

.text-center {
  text-align: center;
}

.text-right {
  text-align: right;
}

.text-left {
  text-align: left;
}

.flex {
  display: flex;
  flex-direction: column;
  .column {
    flex: 100%;
  }

  @include mq($from: tablet) {
    flex-direction: row;
    .column {
      flex: 50%;
    }
  }
}

.wrap {
  box-sizing: border-box;
  margin-left: auto;
  margin-right: auto;
  max-width: 720px;
  padding-left: calc(var(--lumo-space-m));
  padding-right: calc(var(--lumo-space-m));
  width: 100%;

  .wrap {
    padding: 0;
  }

  &.no-padding {
    padding: 0;
  }

  @include mq($from: tablet) {
    max-width: 960px;
  }

  @include mq($from: desktop) {
    max-width: 1280px;

    &.shrunk {
      max-width: 650px;

      &.left {
        margin-left: 0;
      }
    }
  }
}
