a {
  &:hover {
    color: var(--lumo-contrast-80pct);
    cursor: pointer;
  }

  &:hover iron-icon {
    color: #fdd835;
  }
}
iron-icon {
  color: #eee;

  &:hover {
    color: #fdd835;
  }
}

.selected {
  color: #fdd835;
}
