@import "./utils/mq";

:host {
  display: flex;
  height: 57px;
}

:host([hidden]) {
  display: none;
}

::slotted(a[slot="cxl-logo"]) {
  align-self: center;
  height: auto;
  justify-content: center;
  margin: 0;
  padding: var(--lumo-space-s) var(--lumo-space-m);
  width: auto;

  @include mq($from: tablet, $until: desktop) {
    align-items: center;
    background-color: var(--lumo-base-color);
    box-shadow: -9px 5px 9px hsla(214, 57%, 24%, 0.1);
    box-sizing: border-box;
    display: flex;
    height: 57px;
    z-index: 10;
  }
}

[part="topnav"] {
  align-items: center;

  @include mq($from: tablet) {
    ::slotted(vaadin-tabs) {
      float: right;
    }
  }
}

[part="topnav"],
[part="bottomnav"] {
  background: transparent;
  display: flex;
  flex-direction: row;
  position: relative;
  width: 100%;
  z-index: 1;

  ::slotted(vaadin-tabs) {
    box-shadow: none !important; // stylelint-disable-line declaration-no-important
  }

  .wrap {
    padding: 0;
  }

  @include mq($from: tablet, $until: desktop) {
    background-color: var(--lumo-base-color);
    box-shadow: -10px 5px 9px var(--lumo-shade-10pct);
  }
}

[part="bottomnav"] {
  background-color: var(--lumo-shade);
  border-bottom: 1px solid var(--lumo-shade-10pct);
  bottom: 0;
  box-shadow: 0 -1px 5px 0 var(--lumo-shade-5pct);
  left: 0;
  padding: var(--lumo-space-s) 0;
  position: absolute;
  right: 0;
  width: 100%;

  &.fixed {
    background-color: var(--lumo-base-color);
    bottom: initial;
    position: fixed;
    top: 0;
  }
}

[part="topnav"] {
  .nav-items {
    display: none;
    &.mobile {
      display: flex;
      margin-left: auto;
      width: auto;
    }
  }

  @include mq($from: tablet) {
    background-color: var(--lumo-tint-50pct);
  }
}

:host([waves]) {
  @include mq($from: tablet) {
    [part="bottomnav"] {
      background-color: transparent; // stylelint-disable sh-waqar/declaration-use-variable
      box-shadow: none;
      position: relative;
    }
  }
}

:host([orientation="vertical"]) {
  [part="topnav"] {
    background: #1e2122;
    bottom: 0;
    box-shadow: -2px 0 24px 16px var(--lumo-contrast-30pct);
    position: fixed;
    right: 0;
    top: 0;
    width: 265px;
    z-index: 9;
  }
}

:host([waves]) {
  @include mq($from: tablet) {
    [part="bottomnav"] {
      background-color: transparent; // stylelint-disable sh-waqar/declaration-use-variable
      box-shadow: none;
      position: relative;
    }
  }
}
