@import "@conversionxl/cxl-ui/scss/utils/mq";

html,
:host {
  /**
   * Primary
   *
   * @see https://github.com/vaadin/vaadin-lumo-styles/blob/v1.4.2/color.html#L57
   */
  --lumo-primary-color: hsl(8, 100%, 39%);
  --lumo-primary-color-10pct: hsla(8, 100%, 39%, 0.1);
  --lumo-primary-color-50pct: hsla(8, 100%, 39%, 0.5);
  --lumo-contrast-90pct: hsla(214, 40%, 16%, 0.94);

  /* Custom colors */
  --lumo-white: #fff;
  --lumo-black: #000;
}

a {
  color: var(--lumo-contrast-90pct);

  &:hover {
    color: var(--lumo-primary-color);
  }
}

vaadin-button[theme~="cxl-transparent"] a {
  color: var(--lumo-base-color);
}

vaadin-button[theme~="cxl-button"]:not([theme~="contrast"]):not([theme~="cxl-transparent"]) a {
  color: var(--lumo-base-color);
}

vaadin-button[theme~="contrast"] a {
  color: var(--lumo-base-color);
}

@include mq($from: tablet) {
  vaadin-button[theme~="cxl-transparent"] a {
    color: var(--lumo-primary-color);
  }

  vaadin-button[theme~="contrast"] a {
    color: var(--lumo-contrast-90pct);
  }
}

vaadin-context-menu[theme~="cxl-nav-dropdown"] {
  a {
    color: var(--lumo-base-color);
  }
}

@include mq($from: tablet) {
  vaadin-context-menu[theme~="cxl-nav-dropdown"] {
    a {
      color: var(--lumo-contrast-90pct);
      &:hover {
        color: var(--lumo-primary-color);
      }
    }
  }
}
