html,
:host {
  /* Font families */
  --lumo-font-family: "Roboto", arial, sans-serif;
  --lumo-font-secondary: "Libre Baskerville", georgia, serif;
  --lumo-icons: "lumo-icons";
}

p {
  font-family: var(--lumo-font-secondary);
}
