html,
:host {
  /* Font families */
  --lumo-font-family: "Roboto", arial, sans-serif;
  --lumo-font-secondary: "Libre Baskerville", georgia, serif;
}

p {
  font-family: var(--lumo-font-secondary);
}

h4.module-header {
  margin-bottom: 0;
  padding-left: var(--lumo-space-l);
  color: var(--lumo-shade-50pct);
  display: block;
  font-size: var(--lumo-font-size-s);
  font-weight: 500;
  line-height: var(--lumo-line-height-m);
  text-transform: uppercase;
}
