:host([theme~="cxl-sidebar-track"]) {
  [part="summary"] {
    border-radius: 0;
    border-top: 2px solid var(--lumo-shade-5pct);
    cursor: pointer;
    display: flex;
    padding: var(--lumo-space-l) var(--lumo-space-m);

    [part="toggle"] {
      font-size: var(--lumo-icon-size-m);
      margin-left: auto;
      order: 1;
    }
  }
}

:host([opened]) {
  [part="summary"] {
    border-top: 2px solid var(--lumo-shade-5pct);
    box-shadow: 0 3px 4px var(--lumo-shade-10pct);
  }
}
