:host([theme~="cxl-sidebar-panel"]) {
  border-bottom: none;
  border-top: solid 1px var(--lumo-contrast-10pct);
  [part="summary"] {
    border-radius: 0;
    color: var(--lumo-header-text-color);
    cursor: pointer;
    display: flex;
    padding: var(--lumo-space-m) var(--lumo-space-m);

    [part="toggle"] {
      font-size: var(--lumo-icon-size-m);
      margin-left: auto;
      order: 1;
    }
  }

  [part="content"] {
    padding: 0;
  }
}

:host([theme~="cxl-sidebar-panel"]:last-child) {
  border-bottom: solid 1px var(--lumo-contrast-10pct);
}

:host([theme~="cxl-sidebar-panel"][opened]) {
  [part="summary"] {
    background-color: var(--lumo-tint-80pct);
    border-bottom: solid 1px var(--lumo-contrast-20pct);
    box-shadow: 0 0 4px 1px var(--lumo-shade-10pct);
    color: var(--lumo-primary-color);

    [part="toggle"] {
      color: var(--lumo-primary-color);
    }
  }
}

:host([theme~="cxl-sidebar-subpanel"]) {
  [part="summary"] {
    border-radius: 0;
    color: var(--lumo-header-text-color);
    cursor: pointer;
    display: flex;
    padding: var(--lumo-space-m) var(--lumo-space-m);

    [part="toggle"] {
      font-size: var(--lumo-icon-size-xs);
      margin-left: -var(--lumo-space-xs);
      order: 0;
    }
  }
}

:host([theme~="cxl-sidebar-subpanel"]:last-child) {
  border-bottom: none;

  [part="summary"] {
    border-bottom: none;
  }
}

:host([theme~="cxl-sidebar-subpanel"][opened]) {
  [part="summary"] {
    border-bottom: 1px solid var(--lumo-shade-5pct);
    box-shadow: none;
  }
}
