[part="input-field"] {
  background: var(--lumo-base-color);
  background-color: transparent; // stylelint-disable-line sh-waqar/declaration-use-variable
  border: 1px solid var(--lumo-shade-20pct);
}

[part="value"],
[part="input-field"] ::slotted(input),
[part="input-field"] ::slotted(textarea),
[part="input-field"] ::slotted([part="value"]) {
  background: var(--lumo-base-color);
  -webkit-mask-image: none;
  min-height: var(--lumo-size-l);
}

[part="label"] {
  font-weight: 600;
  text-transform: uppercase;
}

:host([invalid]) {
  [part="input-field"] {
    background: var(--lumo-base-color);
    background-color: transparent; // stylelint-disable-line sh-waqar/declaration-use-variable
    border: 1px solid var(--lumo-error-color-50pct);
  }
}

input {
  color: var(--lumo-body-text-color);
}

input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
input:-webkit-autofill:active {
  box-shadow: 0 0 0 30px var(--lumo-base-color) inset !important; /* stylelint-disable-line declaration-no-important */
  color: var(--lumo-body-text-color);
}

:host([theme~="block"]) {
  width: 100%;
}
