@import "@conversionxl/cxl-ui/scss/utils/mixins";

:host {
  --lumo-button-size: var(--lumo-size-l) !important;
  --lumo-button-size-xl: 60px !important;
  --lumo-button-size-l: 50px !important;
  --lumo-button-size-s: 38px !important;
  --lumo-button-size-xs: 32px !important;

  min-width: auto !important;
}
:host([theme~="main-button"]) [part="label"] {
  font-size: var(--lumo-font-size-m) !important;
  font-weight: 500;
  padding-left: calc(var(--lumo-button-size) / 4) !important;
  padding-right: calc(var(--lumo-button-size) / 4) !important;
  line-height: var(--lumo-line-height-m);
  letter-spacing: 0.01em;
}

:host([theme~="icon-button"]) {
  display: flex;
}

:host([theme~="main-button"]) {
  height: var(--lumo-button-size-s);
  margin-right: 20px;
}

:host([theme~="no-margin"]) {
  margin-right: 0px !important;
}

:host([theme~="transparent"]) {
  background-color: transparent !important;
  color: var(--lumo-primary-color) !important;
  border: 1px solid var(--lumo-primary-color);
}

:host([theme~="dark"]) {
  color: var(--lumo-shade-90pct) !important;
  border: 1px solid var(--lumo-shade-90pct);
}

:host([theme~="small"]) {
  height: var(--lumo-button-size-xs);
  padding-left: calc(var(--lumo-button-size) / 14) !important;
  padding-right: calc(var(--lumo-button-size) / 14) !important;
}

:host([theme~="medium"]) {
  height: var(--lumo-button-size-l);

  [part="label"] {
    font-size: var(--lumo-font-size-l) !important;
    padding-left: calc(var(--lumo-button-size) / 2) !important;
    padding-right: calc(var(--lumo-button-size) / 2) !important;
  }
}

:host([theme~="large"]) {
  height: var(--lumo-button-size-xl);

  [part="label"] {
    font-size: var(--lumo-font-size-l) !important;
    padding-left: calc(var(--lumo-button-size) / 2) !important;
    padding-right: calc(var(--lumo-button-size) / 2) !important;
  }
}

:host([theme~="dropdown"]) {
  padding-left: calc(var(--lumo-button-size) / 22) !important;
  padding-right: calc(var(--lumo-button-size) / 26) !important;
}

@include respond-below(small) {
  :host([theme~="main-button"]) {
    padding-left: calc(var(--lumo-button-size) / 26) !important;
    padding-right: calc(var(--lumo-button-size) / 26) !important;
    margin-right: 10px;
  }
  :host(:not([theme~="dropdown"])[theme~="transparent"]) {
    border-color: #484848;
    color: #d4d4d4 !important;
  }
  :host([theme~="dropdown"]) {
    padding-left: calc(var(--lumo-button-size) / 26) !important;
    padding-right: calc(var(--lumo-button-size) / 26) !important;
  }
  :host([theme~="dropdown"]) [part="label"]::after {
    display: none;
  }

  :host([theme~="large"]) {
    height: var(--lumo-button-size-m);

    [part="label"] {
      font-size: var(--lumo-font-size-m) !important;
      padding-left: calc(var(--lumo-button-size) / 4) !important;
      padding-right: calc(var(--lumo-button-size) / 4) !important;
    }
  }
}
