@use "~@conversionxl/cxl-lumo-styles/scss/mq";
@use "../mixins";

cxl-vaadin-accordion {
  /**
   * Theme "cxl-accordion-card".
   */
  &[theme~="cxl-accordion-card"] {
    iron-icon {
      --iron-icon-height: var(--lumo-icon-size-s);
      --iron-icon-width: var(--iron-icon-height);
    }

    p {
      font-family: inherit;
    }

    .entry-byline {
      display: flex; // iron-icon vs text alignment
      flex-basis: 100%;
      flex-wrap: wrap;
      margin: var(--lumo-space-s) 0;
      overflow: hidden;
      font-weight: 300;
      text-overflow: ellipsis;
      white-space: nowrap;

      // @see https://stackoverflow.com/questions/29732575/how-to-specify-line-breaks-in-a-multi-line-flexbox-layout
      hr {
        width: 100%;
        margin: 0;
        visibility: hidden;
      }
    }

    .entry-title {
      flex: 1;
      height: calc(var(--lumo-line-height-xs) * 4em);
      overflow: hidden;
      font-size: var(--lumo-font-size-xl);
      word-break: break-word;
    }

    cxl-accordion-card[opened] {
      .entry-title {
        overflow: visible;
      }
    }
  }

  /**
   * Theme "cxl-minidegree-track".
   */
  &[theme~="cxl-minidegree-track"] {
    cxl-vaadin-accordion[theme="cxl-minidegree-course"] {
      margin-top: var(--lumo-space-m);
    }

    .entry-title {
      @include mixins.entry-title-with-progress-icons();

      margin: 0;
    }

    .track > .entry-header > .entry-title {
      align-items: center;
      font-weight: 900;

      /* stylelint-disable-next-line selector-max-compound-selectors */
      > span {
        display: inline-block;
        width: var(--lumo-space-l);
        height: var(--lumo-space-l);
        padding: var(--lumo-space-s);
        margin-right: var(--lumo-space-s);
        font-size: 60%;
        line-height: var(--lumo-space-l);
        color: var(--lumo-tint);
        text-align: center;
        vertical-align: bottom;
        background-color: var(--lumo-primary-color);
        border-radius: var(--lumo-border-radius);
      }
    }
  }

  /**
   * Theme "cxl-minidegree-course".
   */
  &[theme~="cxl-minidegree-course"] {
    p {
      font-family: inherit;
    }

    .entry-header {
      display: grid;
      grid-column-gap: var(--lumo-space-m);
      grid-template-columns: auto 1fr;
      margin-right: var(--lumo-space-m); // vs [part="toggle"]

      .entry-excerpt {
        grid-column-start: 1;
        grid-column-end: 3;

        @media #{mq.$small} {
          grid-column-start: 2;
        }

        p {
          margin-bottom: 0; // match .entry-title margin-top 0
        }
      }

      // Image, maybe linked.
      > :first-child {
        grid-row-start: 1;
        grid-row-end: 2;

        @media #{mq.$small} {
          grid-row-end: 3;
        }
      }
    }

    .entry-summary {
      @media #{mq.$small} {
        // @todo Eliminate magic number.
        margin-left: calc(var(--lumo-space-m) * 5.5);
      }
    }

    .thumbnail {
      --cxl-thumbnail-size: calc(var(--lumo-icon-size-l) * 2);
      background-color: var(--lumo-contrast-70pct);
    }
  }

  /**
   * Theme "cxl-jobs-listing".
   */
  &[theme~="cxl-jobs-listing"] {
    *,
    ::after,
    ::before {
      box-sizing: border-box !important; /* stylelint-disable-line declaration-no-important */
    }

    [slot="summary"] > div {
      --cxl-job-company-logo-size: calc(var(--lumo-icon-size-l) * 1.1);
      position: relative;
      display: flex;
      flex-flow: column wrap;
      align-items: unset;
      justify-content: center;
      // min-height: logo size + spacing (top + bottom)
      min-height: calc(var(--cxl-job-company-logo-size) + (var(--lumo-space-m) * 2));
      // padding-right: width of toggle icon + fields right margin
      padding-right: calc(28px + var(--lumo-space-m));
      // padding-left: logo size + spacing
      padding-left: calc(var(--cxl-job-company-logo-size) + (var(--lumo-space-m) * 3));

      @media #{mq.$medium} {
        flex-flow: row wrap;
        align-items: center;
        justify-content: space-between;
        // padding-left: logo size + spacing
        padding-left: calc(var(--cxl-job-company-logo-size) + (var(--lumo-space-m) * 4));
      }
    }

    .gv-list-view-title {
      > * {
        flex: 1 1 0;
        order: 2;

        @media #{mq.$medium} {
          width: 0;

          &:not(:last-child) {
            margin-right: var(--lumo-space-m);
          }
        }
      }

      p {
        margin: 0;
        font-family: inherit;
        font-weight: inherit;
      }
    }

    .gv-no-results .gv-list-view-title {
      > * {
        flex: unset;
        width: unset;
      }
    }

    .gv-list-view-content,
    .gv-list-view-footer {
      @media #{mq.$small} {
        // @todo Eliminate magic number.
        margin-left: calc(var(--lumo-space-m) * 5.5);
      }
    }

    .gv-list-view-content {
      max-width: var(--cxl-content-width);
      margin: 0 auto;
    }

    .gv-list-view-footer {
      .gv-right {
        display: flex;
        justify-content: space-between;
      }

      .gv-right,
      .gv-left {
        font-size: var(--lumo-font-size-s);
      }
    }

    .cxl-job-company-logo {
      position: absolute;
      left: 0;
      display: flex;
      flex: 0 0 auto;
      align-items: center;
      justify-content: center;
      order: 0;
      width: var(--cxl-job-company-logo-size);
      max-width: var(--cxl-job-company-logo-size);
      height: var(--cxl-job-company-logo-size);
      margin: 0 var(--lumo-space-m) 0 0;
      overflow: hidden;
      background-color: var(--lumo-contrast-70pct);
      border-radius: 50%;
    }

    .cxl-job-role {
      order: 1;
      margin-bottom: var(--lumo-space-s);
      font-size: var(--lumo-font-size-m);
      font-weight: 600;

      @media #{mq.$medium} {
        margin-bottom: 0;
        font-size: var(--lumo-font-size-m);
      }

      @media (min-width: 768px) and (max-width: 1023px) {
        flex-grow: 2;
      }

      a {
        font-weight: 500;
      }

      .gv-field-label {
        display: inline-block;
        margin-bottom: var(--lumo-space-xs);
        font-size: var(--lumo-font-size-s);
        font-weight: 500;

        @media #{mq.$medium} {
          font-size: var(--lumo-font-size-s);
        }
      }
    }

    .cxl-job-location {
      margin-bottom: var(--lumo-space-xs);
      font-size: var(--lumo-font-size-s);

      @media #{mq.$medium} {
        margin-bottom: 0;
        font-size: var(--lumo-font-size-m);
      }

      @media (min-width: 768px) and (max-width: 1023px) {
        flex-grow: 2;
      }

      br {
        content: "&nbsp;" !important; /* stylelint-disable-line declaration-no-important */
        &::after {
          white-space: pre;
          content: ", ";
        }
      }
    }

    .cxl-job-type {
      margin-bottom: var(--lumo-space-s);
      font-size: var(--lumo-font-size-s);

      @media #{mq.$medium} {
        margin-bottom: var(--lumo-space-s);
        font-size: var(--lumo-font-size-m);
      }
    }

    .cxl-job-date-updated {
      font-size: var(--lumo-font-size-s);

      @media #{mq.$medium} {
        text-align: right;
      }
    }

    .cxl-job-approval-status {
      margin-top: var(--lumo-space-xs);
      margin-bottom: var(--lumo-space-xs);
      font-size: var(--lumo-font-size-s);

      @media #{mq.$medium} {
        margin-top: 0;
        margin-bottom: 0;
        text-align: right;
      }

      @media (min-width: 768px) and (max-width: 1023px) {
        text-align: center;
      }
    }

    .cxl-apply-for-job-container,
    .cxl-job-edit {
      flex: 0 0 auto;
      width: auto;

      @media (min-width: 768px) and (max-width: 1023px) {
        display: none;
      }
    }

    .gv-field-label {
      margin-right: var(--lumo-space-xs);
    }
  }
}
