cxl-playbook-accordion {
  ol,
  ul {
    padding-left: var(--lumo-space-m);
  }

  .entry-header {
    display: flex; // Align `vaadin-checkbox`.
    align-items: baseline;

    &.checked {
      text-decoration: line-through;
    }

    .entry-title {
      margin-top: 0.5em; /* match h3 */
      margin-right: var(--lumo-space-m);
      font-size: var(--lumo-font-size-m);
    }

    > vaadin-checkbox {
      margin-right: var(--lumo-space-xs);
    }
  }
}
